# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# all env files
*.env
# coverage
.coverage
# js-based
node_modules/
package-lock.json
static/script.js
lib/
.eslintrc.js
# vscode
.vscode/
