body{
    background: rgb(80,74,168);
    background: linear-gradient(90deg, rgba(80,74,168,1) 0%, rgba(159,109,47,1) 53%, rgba(76,255,0,1) 100%);
}

button{
    text-align: center;
    font-style: italic;
    font-size: 16;
    background: grey;
    border-radius: 10;
    width: 300;
    box-shadow: 2px 5px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover{
    background:white;
}
