body{
    background: rgb(80,74,168);
    background: linear-gradient(90deg, rgba(80,74,168,1) 0%, rgba(159,109,47,1) 53%, rgba(76,255,0,1) 100%);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    float: left;
}
  
button {
    font-size: 20px;
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

button:hover{
    font-size: 21px;
    background-color:grey;
  }
